table {
    margin: 20px;
    border: 2px solid #131617;
  }
  
  th {
    padding: 0 40px;
    background-color: #5b95ae;
  }
  
  td {
    padding: 10px;
  }
  
  tr {
    text-align: center;
  }
  
  #table {
    display: flex;
    justify-content: center;
  }
  
  
  


 